.post-wordcount {
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--color-text-a);
}

.post-wordcount .wordcount-separator {
  margin: 0 6px;
  color: var(--color-text-base);
}
